<template>
  <q-layout view="lHh Lpr lFf" style="background:white">
    <q-header class="bg-primary text-white">
      <q-toolbar>
        <div class="row full-width">
          <div class="col">
            <q-btn
              v-if="loggedIn"
              flat
              dense
              round
              icon="menu"
              aria-label="Menu"
              @click="leftDrawerOpen = !leftDrawerOpen"
            />
          </div>
          <div class="col">
            <q-toolbar-title class="text-center">
              <q-avatar>
                <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" />
              </q-avatar>
              <span class="q-pl-lg">Aplicação Inserção de dados API</span>
            </q-toolbar-title>
          </div>
          <div class="col">
            <q-btn
              flat
              class="text-h7 float-right q-pt-xs"
              @click="logOut"
              v-if="loggedIn"
            >{{accountName}}</q-btn>
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered content-class="bg-grey-1">
      <div class="text-h6 text-center text-grey-9 q-pt-lg q-pb-lg">Funções da Aplicação</div>
      <q-separator inset />
      <q-list>
        <q-item-label
          v-if="sysAdminFunctions.length>0"
          header
          class="text-grey-8"
        >Administrador de Sistema</q-item-label>
        <SystemFunction
          v-for="link in sysAdminFunctions"
          :key="link.title"
          v-bind="link"
          @systemFunction="sysFunction"
        />
      </q-list>
      <q-separator inset />
      <q-list>
        <q-item-label
          v-if="opAdminFunctions.length>0"
          header
          class="text-grey-8"
        >Administrador de cadeia de valor</q-item-label>
        <SystemFunction v-for="link in opAdminFunctions" :key="link.title" v-bind="link" />
      </q-list>
      <q-separator inset />
      <q-list>
        <q-item-label v-if="operatorFunctions.length>0" header class="text-grey-8">Operador</q-item-label>
        <SystemFunction v-for="link in operatorFunctions" :key="link.title" v-bind="link" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <!--<router-view @loginEvent="logIn" @drawerEvent="updateDrawer" />-->

      <Login v-if="!loggedIn" @loginEvent="logIn" />

      <DataTable
        v-if="loggedIn"
        :title="tableTitle"
        :columns="tableColumns"
        :data="tableData"
        @dbUpdate="dbUpdate"
      />

      <q-dialog v-model="showAdd">
        <UpdateForm :title="'Teste'" :columns="postFields" @insertForm="insertForm" />
      </q-dialog>
    </q-page-container>
  </q-layout>
</template>

<script>
import SystemFunction from "components/SystemFunction.vue";
import DataTable from "components/DataTable.vue";
import UpdateForm from "components/UpdateForm.vue";
import Login from "pages/Login.vue";

import sysFunctions from "../assets/sysFunctions.json";

import axios from "axios";
import { date } from "quasar";

export default {
  name: "MainLayout",
  components: {
    SystemFunction,
    DataTable,
    UpdateForm,
    Login
  },
  data() {
    return {
      // Account
      accountName: "",
      loggedIn: false,
      sysAdminFunctions: [],
      opAdminFunctions: [],
      operatorFunctions: [],
      access_token: "",

      // Related to the data user wants to see
      leftDrawerOpen: false,
      currentPage: "",
      systemFunction: null,

      // This section belongs to the components to insert edit delete
      showAdd: false,
      tableTitle: "",
      tableData: [],
      tableColumns: [],
      postFields: []
    };
  },
  methods: {
    async insertForm(jsonPack) {
      console.log("====UPLOAD FORM====");
      console.log("To: " + JSON.stringify(this.systemFunction));
      console.log("Payload: " + JSON.stringify(jsonPack));

      var address = (this.systemFunction.postLink) ? this.systemFunction.postLink : this.systemFunction.link;


      axios.defaults.headers.common["Authorization"] = `Bearer ${this.access_token}`;
      await axios.post(address, jsonPack).then(function(response) {
        console.log("-----------PUSH.DATA------------");
        console.log("Response: " + JSON.stringify(response.data));
        console.log("-----------------------------------");
      });

      this.sysFunction(this.systemFunction);
    },

    async deleteEntry(item) {
      var payload = {};
      var keys = [];
      for (var k in item) {
        keys.push(k);
        break;
      }
      for (var field in keys) {
        console.log("KEYS IN DATA: " + keys[field] + " " + item[keys[field]]);
        payload[keys[field]] = item[keys[field]];
      }

      console.log("Deleting: " + JSON.stringify(payload));

      axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.access_token}`;
      await axios
        .delete(this.systemFunction.link + item[keys[field]], {})
        .then(function(response) {
          console.log("-----------PUSH.DATA------------");
          console.log("Response: " + JSON.stringify(response.data));
          console.log("-----------------------------------");

          
        });

        this.sysFunction(this.systemFunction);

        
    },

    dbUpdate(content) {
      console.log("User requested to change something ...");
      console.log("Default page is: " + JSON.stringify(this.systemFunction));

      switch (content.instruction) {
        case "add":
          this.showAdd = true;
          console.log("ShowAdd: " + this.showAdd);
          break;
        case "del":
          this.deleteEntry(content.item);
          break;
      }

      /*axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.access_token}`;
      axios
        .post(this.systemFunction.link, {
          operator_contact_id: 4225,
          operator_name: "ESTG.VianaCastelo2",
          operator_info: []
        })
        .then(function(response) {
          console.log("-----------PUSH.DATA------------");
          console.log("Response: " + JSON.stringify(response.data));
          console.log("-----------------------------------");
        });*/
    },
    logIn(content) {
      console.log("User is logged in");
      this.accountName = content.username + " (Sair)";
      this.sysAdminFunctions = content.sysAdminFunctions;
      this.opAdminFunctions = content.opAdminFunctions;
      this.operatorFunctions = content.operatorFunctions;
      this.loggedIn = true;




      //this.currentPage = "events";
      this.tableTitle = "Eventos do Sistema";
      this.tableColumns = [
        {
          name: "desc",
          required: true,
          label: "Dessert (100g serving)",
          align: "left",
          field: row => row.name,
          sortable: true
        },
        {
          name: "calories",
          align: "center",
          label: "Calories",
          field: "calories"
        },
        { name: "fat", label: "Fat (g)", field: "fat" },
        { name: "carbs", label: "Carbs (g)", field: "carbs" },
        { name: "protein", label: "Protein (g)", field: "protein" },
        { name: "calcium", label: "Calcium (%)", field: "calcium" },
        { name: "sodium", label: "Sodium (mg)", field: "sodium" },
        { name: "iron", label: "Iron (%)", field: "iron" }
      ];
      this.tableData = [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: "14%",
          iron: "1%",
          description: "isto é um belo pedaço de texto"
        },
        {
          name: `Ice cream sandwich`,
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: "8%",
          iron: "1%"
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: "6%",
          iron: "7%"
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: "3%",
          iron: "8%"
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: "7%",
          iron: "16%"
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: "0%",
          iron: "0%"
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: "0%",
          iron: "2%"
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: "0%",
          iron: "45%"
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: "2%",
          iron: "22%"
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: "12%",
          iron: "6%"
        }
      ];

      //this.loadData();

      //this.$router.replace("/Events");
      var a = (content.sysAdminFunctions) ? sysFunctions.sysAdminFunctions[0] : null;
      this.sysFunction(a);
      this.leftDrawerOpen = true;
    },
    logOut() {
      console.log("Log out...");
      this.accountName = "";
      this.loggedIn = false;
      this.leftDrawerOpen = false;

      // CHANGE PAGE AFTER LOGIN
      //this.$router.replace("/");
    },
    loadData() {
      console.log("LOADING DATA....");
      var session_url =
        "https://valormar-api.web.ua.pt/token?grant_type=client_credentials";
      var username = "NpK8Ku3EtIZn1bD1tbQm9Yg9qFYa";
      var password = "EMy_CK5SL5x8HAkTiDhPYsowsQEa";
      var basicAuth = "Basic " + btoa(username + ":" + password);

      var getToken_instance = axios.create({
        baseURL: session_url
      });
      // Alter defaults after instance has been created
      getToken_instance.defaults.baseURL = session_url;
      getToken_instance.defaults.headers.common["Authorization"] = basicAuth;
      getToken_instance.defaults.headers.post["Content-Type"] =
        "application/json";

      getToken_instance.post(session_url).then(function(response) {
        var access_token = response.data.access_token;
        var token_expires = response.data.expires_in;

        console.log("-----------REQUEST.DATA------------");
        console.log("Status response: " + response.status);
        console.log("Access_Token: " + access_token);
        console.log("Token_Expires: " + token_expires);
        console.log("Headers: " + JSON.stringify(response.headers));
        console.log("-----------------------------------");
      });
    },
    async sysFunction(object) {
      console.log("Running: " + JSON.stringify(object));
      this.systemFunction = object;

      console.log("Downloading data from: " + object.link);

      var session_url =
        "https://valormar-api.web.ua.pt/token?grant_type=client_credentials";
      var username = "NpK8Ku3EtIZn1bD1tbQm9Yg9qFYa";
      var password = "EMy_CK5SL5x8HAkTiDhPYsowsQEa";
      var basicAuth = "Basic " + btoa(username + ":" + password);

      var getToken_instance = axios.create({
        baseURL: session_url
      });
      // Alter defaults after instance has been created
      getToken_instance.defaults.baseURL = session_url;
      getToken_instance.defaults.headers.common["Authorization"] = basicAuth;
      getToken_instance.defaults.headers.post["Content-Type"] =
        "application/json";

      this.access_token = await getToken_instance
        .post(session_url)
        .then(function(response) {
          return response.data.access_token;
        });

      this.apiRequest(object.link, this.access_token).then(response => {
        console.log("IM HERE");
        console.log(
          "CoLumns:  " +
            JSON.stringify(response.columns) +
            " data: " +
            response.data
        );

        console.log("Post fields: " + JSON.stringify(object.postFields));
        this.postFields = [];
        object.postFields.forEach(element => {
          this.postFields.push({
            name: element.fieldName,
            label: element.fieldName,
            field: element.fieldName,
            type: element.type
          });
        });

        this.tableTitle = object.title;
        this.tableColumns = response.columns;
        this.tableData = response.data;
      });
    },

    async apiRequest(link, token) {
      console.log("axios links: " + link);
      console.log("Axios token: " + token);

      axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;

      return await axios.get(link).then(function(response) {
        console.log("-----------REQUEST.DATA------------");
        console.log("Response: " + JSON.stringify(response.data));
        console.log("-----------------------------------");

        var columns = [];
        var keys = [];
        for (var k in response.data[0]) keys.push(k);
        for (var field in keys) {
          console.log("KEYS IN DATA: " + keys[field]);
          columns.push({
            name: keys[field],
            label: keys[field],
            field: keys[field]
          });
        }

        return { columns: columns, data: response.data };
      });
    }
  }
};
</script>
