<template>
  <q-item-list>
    <q-input
      outlined
      v-model="lotId"
      label="Identificação do Lote"
      lazy-rules
      :rules="[
          val => val !== null && val !== '' || 'Por favor, identifique o lote que pretende armazenar'
        ]"
    />
    <q-select
      outlined
      v-model="transportDestiny"
      :options="operators"
      label="Operadora destinatário"
      lazy-rules
      :rules="[
          val => val !== null && val !== '' || 'Por favor, seleccione o tipo de evento'
        ]"
    />
    <q-input
      outlined
      v-model="weight"
      label="Quantidade em kilogramas"
      lazy-rules
      type="number"
      :rules="[
          val => val !== null && val !== '' || 'Por favor, insira o peso do produto a armazenar'
        ]"
    />
  </q-item-list>
</template>

<script>
export default {
  name: "Transport",
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ""
    },

    link: {
      type: String,
      default: "#"
    },

    icon: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      operators: [
        "DocaPesca-Viana01",
        "ContinenteModelo-ShoppingViana",
        "Continente Meadela, Viana do Castelo",
        "PingoDoce Meadela, Viana do Castelo"
      ],
      weight: null,
      transportDestiny: null,
      lotId:null
    };
  }
};
</script>
