<template>
  <q-item-list>
    <q-select
      outlined
      v-model="transformation"
      :options="transformations"
      label="Tipo de Transformação"
      lazy-rules
      :rules="[
          val => val !== null && val !== '' || 'Por favor, seleccione o tipo de evento'
        ]"
    />

    <q-input
      outlined
      v-model="lotId"
      label="Identificação do Lote"
      lazy-rules
      :rules="[
          val => val !== null && val !== '' || 'Por favor, seleccione o tipo de evento'
        ]"
    />
  </q-item-list>
</template>

<script>
export default {
  name: "Transformation",
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ""
    },

    link: {
      type: String,
      default: "#"
    },

    icon: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      transformations: ["Descamar", "Congelar", "Enlatar", "Outros"],
      transformation:null,
      lotId:null
    };
  }
};
</script>
