<template>
  <div class="q-pa-md q-gutter-sm">

    <q-dialog transition-show="rotate" transition-hide="rotate">
      <q-card>
        <q-card-section>
          <div class="text-h6">Terms of Agreement</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-layout view="hHh lpR fFf">
            <q-page-container>
              <q-form
                class="q-gutter-md text-center q-pa-xl"
                style="width:80vw; margin:0 auto;"
              >
                <div class="text-h3 text-primary">Registo de Novo Evento</div>

                <q-separator inset />

                <!-- -->

                <div class="q-pt-xl" style="max-width:50vw; margin:0 auto;">
                  <q-select
                    outlined
                    v-model="eventType"
                    :options="options"
                    label="Nome do Evento"
                    lazy-rules
                    :rules="[
          val => val !== null && val !== '' || 'Por favor, seleccione o tipo de evento'
        ]"
                  />

                  <ProductRegistry v-if="eventType=='Registo de produto'" />
                  <Transport v-if="eventType=='Transporte'" />
                  <Transformation v-if="eventType=='Transformação'" />
                  <Storage v-if="eventType=='Armazenamento'" />
                </div>

                <div>
                  <q-btn label="Submit" type="submit" color="primary" />
                  <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
                </div>
              </q-form>
            </q-page-container>
          </q-layout>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Decline" color="primary" v-close-popup />
          <q-btn flat label="Accept" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import ProductRegistry from "components/Events/ProductRegistry.vue";
import Storage from "components/Events/Storage.vue";
import Transport from "components/Events/Transport.vue";
import Transformation from "components/Events/Transformation.vue";

export default {
  components: {
    ProductRegistry,
    Storage,
    Transport,
    Transformation
  },
  data() {
    return {
      leftDrawerOpen: false,
      eventType: null,
      lotId:null,
      transformation: "",
      transportDestiny:"",
      weight:null,
      peso:15,
      pesoInput: null,
      options: [
        "Registo de produto",
        "Transporte",
        "Armazenamento",
        "Transformação",
        "Controlo de qualidade"
      ],
      transformations: ["Descamar", "Congelar", "Enlatar", "Outros"],
      operators: [
        "DocaPesca-Viana01",
        "ContinenteModelo-ShoppingViana",
        "Continente Meadela, Viana do Castelo",
        "PingoDoce Meadela, Viana do Castelo"
      ],

      submitting: false
    };
  },
  methods: {
    onSubmit(evt) {
      console.log("@submit - do something here", evt);
      console.log("USER IS SAVING A FORM");
    },
    onReset() {
      console.log("Clicked reset button");
      this.eventType = null;
    }
  }
};
</script>