<template >
  <q-item clickable tag="a" target="_blank" @click="clicked">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: "SystemFunctions",
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ""
    },

    link: {
      type: String,
      default: ""
    },

    postLink: {
      type: String,
      default: ""
    },

    postFields: {
      type: Array,
      default: ""
    },

    icon: {
      type: String,
      default: ""
    }
  },
  methods: {
    clicked() {
      this.$emit("systemFunction", {
        title: this.title,
        link: this.link,
        postLink:this.postLink,
        postFields: this.postFields
      });
    }
  }
};
</script>
