<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{title}}</div>
    </q-card-section>

    <q-input
      v-for="link in columns"
      :key="link.name"
      v-bind="link"
      v-model="link.value"
      type="Array"
      outlined
      class="q-ma-lg"
    />
    <q-card-actions align="right">
      <q-btn flat label="OK" color="primary" v-close-popup @click="save" />
      <q-btn flat label="Cancel" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>


<script>
export default {
  name: "UpdateForm",
  props: {
    title: {
      type: String,
      required: true
    },
    columns: {}
  },
  methods: {
    save() {
      console.log("Saving form...");
      console.log("PROPS: " + JSON.stringify(this.columns));

      var jsonPackage = {};

      this.columns.forEach(element => {
        console.log("-----------------------------------");
        console.log("Field: " + element.field);
        console.log("Value: " + element.value);
        console.log("Type: " + element.type);
        jsonPackage[element.field] = element.value ? element.value : " ";

        // AT THE PRESENT MOMENT THE ARRAY ELEMENTS HAVE BEEN BLOCKED ON THE SYSTEM.
        jsonPackage[element.field] = (element.type == 'string') ? element.value.toString() : (element.type=='array') ? [] : (element.type=='json array') ? [{}] : element.value;
      });

      console.log("Final package: " + JSON.stringify(jsonPackage));

      this.$emit("insertForm", jsonPackage);
    },
    cancel() {}
  },

  data() {
    return {};
  }
};
</script>